#wrapper{
  height: 600px;
  width:1000px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}
header{
  width: 1000px;
  height: 100px;
  background-color: #FFBA91;

}
nav{
  width: 1000px;
  height: 60px;
  background-color: #30B3B3;
font-size: 40px;
font-family: monospace;
color: black;
}
#center{
  display:flex;
}
main{
  height:400px;
  width:800px;
  background-color: white;
}
aside{
  height:400px;
  width:100px;
  background-color: purple;

}
footer{
  height: 100px;
  width: 1000px;
  background-color: green;


}

/*________  formatering av länkar ______________________*/



/*a:link {
  text-decoration:underline;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
*/
a{
color: black;
font-family: monospace;
font-size: 15px;
}

a:link {
  text-decoration: inherit;
padding-left: 10px;
}
