html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


h1{
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}

#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#container{
  display: flex;}
  header{
    width: 100%;
    height: 100px;
    background-color: #5E2E99;
    position: fixed;

  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
  nav{

    position: absolute;
    bottom: 0px;

  }

  img{
  top:0px;
  padding-left: 91%;
position: absolute;

  }
  #left{
    width: 10%;
    height: 2000px;
    background-color: #A670E6;
    padding-top: 100px;
  }

  main{
    width: 80%;
    height: 2000px;
    background-color: #2E3DE6;
    padding-top: 100px;
  }
  #right{
    width: 10%;
    height: 2000px;
    background-color: #0F6299;
    padding-top: 100px;
  }

  footer{

    width: 100%;
    height:100px;
    background-color: #2298E6;
  }

  /*@media screen and (max-width:500px){
    #wrapper{
      width: 100%;
    }
    #container{
      flex-direction:column;
    }

    #left{
      width: 100%;
    }

    main{
      width: 100%;
    }

    #right{
      width:100%;
    }

  }
